html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/index.css")
        title Document
    body 
        nav 
            ul
                li
                    a(href="/home") Home
                li
                    a(href="/ourservice") Our Service
                li
                    a(href="/ContactUs") Contact Us
        div 
            h1 Contact us if you have questions
        
        section(class= "contact-info ")
            h2 Get in Touch
            p If you have any questions, feel free to reach out to us through the following methods:
            ul
                li
                    strong Email:
                    | DarkSeid.com
                li
                    strong Phone:
                    | +1 (234) 567-8900
                li
                    strong Address:
                    | 123 Main St, VINE WOOD, USA
