doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/index.css")
        title Document
    body
        nav 
            ul
                li
                    a(href="/home") Home
                li
                    a(href="/ourservice") Our Service
                li
                    a(href="/ContactUs") Contact Us
        div 
            h1 We Bring you the best of DarkSeid.
            h1 Anything about DarkSeid we got you covered
                br
                br
                | All darkseid fans are welcome to our site. 
                br 
                br
                |We have all the information you need about DarkSeid.
                br
                br
                | Ready The Armada , We shall Use The Old Ways. Peace  